<!-- templates/paperless-ngx/enter_password.html -->
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Enter Share Link Password</title>
    </head>

    <body>
        <h2>Protected Link</h2>
        <p>Please enter the password to access this document.</p>

        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="password" name="sharelink_password" placeholder="Share link Password" required>
            <button type="submit">Access</button>
        </form>
    </body>
</html>
